<!DOCTYPE html>
<html>
    <head>
        <title>ApiExample</title>
        <link rel='shortcut icon' href='http://localhost:3000/favicon.ico'/>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    </head>
    <body>

        <%= render 'layouts/top_menu' if @top_menu %>

        <%= yield %>

    </body>
</html>
